body{
    background: rgb(0, 0, 0);    
    color: wheat;
    text-align: center;
    
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgba(254, 254, 255, 0.034);
    padding: 20px 40px;
    font-size: 40px;
    text-align: center;
    border-radius: 10px;
    background: linear-gradient(rgb(87, 80, 80), transparent);

}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgba(167, 151, 151, 0.39);
    padding: 20px 40px;
    font-size: 30px;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: linear-gradient(transparent, rgba(141, 135, 135, 0.384))
    
    
}

span{
    font-size: 11px;
    background: rgba(255, 255, 255, 0.185);
    border-radius: 50px;
    border: 2px solid transparent;

    

}
p{
    font-family: sans-serif;
    font-size: 20px;
    margin: 1;
    padding: 10px;
    text-align: center;
    background: rgba(245, 245, 245, 0.075);
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    background: linear-gradient(rgb(109, 98, 98), transparent);
    
}

a{
    text-transform:capitalize;
    color: wheat;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.726);
    background: rgba(250, 252, 239, 0.192);
    padding: 3px 3px;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border-radius: 4px;
    height: 10px;
    width: 10px;
    box-shadow: 0 0 10px wheat;

    
    
}

div{
    margin: 10px;
}
.center{
    text-align: center;
    color: wheat;
    box-shadow: 0 0 8px rgb(236, 228, 228);
}

.box{
    background: rgb(107, 102, 102);
    margin: auto;
    padding: 20px;
    background: linear-gradient(rgb(107, 102, 102), transparent);
    margin-top: 20px;
    
}
img{
    border-radius: 100%;
    box-shadow: 0 0 12px black;
}


